.base {
  position: relative;
  margin: 1rem;
  padding: 1rem;
  width: 300px;
  height: 250px;
  background-color: rgb(40, 40, 40);
  color: white;
  border-radius: 40px 0 40px 0;
  user-select: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5), 0 3px 6px rgba(0, 0, 0, 0.75);
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
    border: 3px solid #f0141e;
    border-radius: 40px 0 40px 0;
  }

  h4 {
    text-align: center;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 20px;
    max-height: 50px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.title {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.see-more {
  text-decoration: none;
  color: white;
  padding-right: 0.5rem;
  display: flex;
  justify-content: flex-end;

  .icon {
    font-size: 24px;
    margin-left: 1rem;
    animation: arrow 2s infinite;
  }
}

.comic-caption {
  position: absolute;
  top: -20px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 40px 0 40px 0;
  background-color: rgb(40, 40, 40);
  padding: 0px 15px;
  transform: translateY(80%);
  transition: transform 0.5s, opacity 0.5s;
}

.description {
  opacity: 0;
  margin-bottom: 2rem;
  text-align: justify;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 20px;
  max-height: 150px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.slide-in:hover .comic-caption {
  top: 0;
  opacity: 0.9;
  transform: translateY(0px);

  .description {
    opacity: 1;
  }

  .title {
    height: 90px;
  }

  h4 {
    padding: 1rem 0;
    -webkit-line-clamp: 3;
    max-height: 79px;
  }
}

@keyframes arrow {
  0% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(-5px);
  }
}
