.base {
  position: relative;
  margin: 1rem;
  padding: 1rem;
  width: 300px;
  height: 400px;
  background-color: rgb(40, 40, 40);
  color: white;
  border-radius: 40px 0 40px 0;
  user-select: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5), 0 3px 6px rgba(0, 0, 0, 0.75);
  overflow: hidden;

  h2 {
    text-align: center;
    font-family: "Bungee", cursive;
    font-size: 24px;
    line-height: 40px;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  img {
    width: 100%;
    height: auto;
    border: 3px solid #f0141e;
    border-radius: 40px 0 40px 0;
  }

  a {
    text-decoration: none;
    color: white;
    padding: 0 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.title {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroCaption {
  position: absolute;
  top: -30px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 40px 0 40px 0;
  background-color: rgb(40, 40, 40);
  padding: 0px 15px;
  transform: translateY(80%);
  transition: transform 0.5s, opacity 0.5s;
}

.info-wrapper {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
}

.icon {
  font-size: 24px;
  margin-left: 1rem;
  animation: arrow 2s infinite;
}

.info {
  text-align: justify;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 20px;
  max-height: 300px;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
}

.slide-in:hover .heroCaption {
  top: 0;
  opacity: 0.9;
  transform: translateY(0px);

  .info-wrapper {
    opacity: 1;
  }

  h2 {
    margin: 1rem 0;
  }

  .title {
    margin: 1rem 0;
  }
}

@keyframes arrow {
  0% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(-5px);
  }
}
