header {
  background-color: rgb(40, 40, 40);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  margin: 2rem;
  width: 300px;
}

.search {
  width: 40%;
  min-width: 300px;
  margin-bottom: 2rem;
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 5px;

  .search-icon {
    font-size: 16px;
    margin: 0.5rem;
  }

  .search-bar {
    width: 90%;
    border: none;

    &:focus {
      outline: none;
    }
  }
}
