@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Roboto+Mono:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
  background-color: #eee;
}

input {
  font-size: 16px;
  font-family: "Roboto Mono", monospace;
}
